p1 {
    color: brown;
    background-color: yellow;
    font-size: 30px;
    font-family: 궁서체;
}
p2 {
    color: brown;
    background-color: yellow;
}
p3 {
    color: brown;
    background-color: yellow;
}