* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(238, 238, 238);
    font-size: 12px;
    color: #444444;
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
}

#page {
    width: 1000px;
    margin: auto;
}